/*
    Document   : screen
    Created on : Jan 30, 2014, 1:01:26 PM
    Author     : Ardath k'Sheyna
*/
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,700,200italic,700italic');

body {
    font: 1em/1.5 'Source Sans Pro', sans-serif;
    color: #272822;
}

canvas {
    border: 1px solid #000;
    background-color: #999;
}

strong {
    font-weight: 700;
}

em, cite {
    font-style: italic;
}

p {
    margin-bottom: 1rem;
}

a,
a:link {
    text-decoration: none;
    color: #99C62A;
}

a:visited {
    color: #66D9EF;
}

a:hover {
    color: #F92672;
}

a:active {
    color: #FD971F;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
}

button.btn,
input.btn {
    outline: none;
    display: inline-block;
    cursor: pointer;
}

a.btn {
    color: #272822;
    font-size: small;
}

.btn.btn-narrow {
    padding: 2px 15px;
}

.btn {
    display: inline-block;
    box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.75);
    background-color: #66D9EF;
    border-radius: 3px;
    padding: 5px 15px;
    border: 1px solid #34A7BD;
}

.btn:hover {
    box-shadow: inset -1px -1px 0 rgba(255, 255, 255, 0.75);
}
/*------------------------------------------------------------------------------
Headers
------------------------------------------------------------------------------*/
.h {
    font-weight: 700;
    margin-bottom: 1.25rem;
    display: block;
    &1 {
        font-size: 2rem;
    }

    &2 {
        font-size: 1.5rem;
    }

    &3 {
        font-size: 1.25rem;
    }

    &4 {
        font-size: 1rem;
    }

    &5 {
        font-size: 0.875rem;
    }

    &6 {
        font-size: 0.75rem;
    }  
}

/*------------------------------------------------------------------------------
Horizontal list
------------------------------------------------------------------------------*/
.hlist {
    list-style: none;
    clear: both;
    float: none;
    margin: 0;
    padding: 0;
    &:after {
      display: block;
      height: 1px;
      float: none;
      clear: both;
      content: ".";
      visibility: hidden;
    }
  
    > li {
      float: left;
      margin-right: 20px;
      &:last-of-type {
          margin-right: 0;
      }
    }
  
}


/*------------------------------------------------------------------------------
Columns/Rows
------------------------------------------------------------------------------*/
.row {
    clear: both;
    float: none;
    display: block;
    margin-bottom: 2.5rem;
    &:after {
        display: block;
        height: 1px;
        float: none;
        clear: both;
        content: ".";
        visibility: hidden;
    } 
}

.column {
    float: left;
    margin-right: 1.25rem;
}

.column-last {
    margin-right: 0;
}

.small-input {
    width: 54px;
}

.moondata {
    padding-top: 2.5rem;
}

.data-table {
    display: table;
    .label {
        width: 9.375rem;
        margin-right: 1.25rem;
        display: table-cell;
        &:after {
            content: ":";
        }
    }  
  
    .value {
        display: table-cell;
    }  
}

.calendar {
    width: 98%;
    margin-bottom: 2.5rem;
}

.calendar th {
    font-weight: 700;
    width: 14%;
}

.calendar td {
    border: 1px solid;
    padding: 5px;
    box-sizing: border-box;
    text-align: right;
    height: 135px;
}

.calendar .moonphase {
    font-weight: 700;
}

.hide {
    display: none;
}

.show {
    display: block;
}
